BinaryClock/BinaryClock-backups/BinaryClock-2024-11-17_233758.zip
BinaryClock/BinaryClock-backups/BinaryClock-2024-11-17_233211.zip
BinaryClock/BinaryClock-backups/BinaryClock-2024-11-17_232413.zip
BinaryClock/fp-info-cache
BinaryClock/BinaryClock.kicad_sch
BinaryClock/BinaryClock.kicad_pro
BinaryClock/BinaryClock.kicad_prl
BinaryClock/BinaryClock.kicad_pcb
